In [27]:
import pandas as pd
import random
import numpy as np

In [28]:
df = pd.read_json("../database.json")

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 13 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   _id        100000 non-null  object
 1   answer_1   100000 non-null  bool
 2   answer_2   100000 non-null  bool
 3   answer_3   100000 non-null  bool
 4   answer_4   100000 non-null  bool
 5   answer_5   100000 non-null  bool
 6   answer_6   100000 non-null  bool
 7   answer_7   100000 non-null  bool
 8   answer_8   100000 non-null  bool
 9   answer_9   100000 non-null  bool
 10  answer_10  100000 non-null  bool
 11  answer_11  100000 non-null  bool
 12  user_id    100000 non-null  object
dtypes: bool(11), object(2)
memory usage: 3.3+ MB

In [30]:
df.head()

,_id,answer_1,answer_2,answer_3,answer_4,answer_5,answer_6,answer_7,answer_8,answer_9,answer_10,answer_11,user_id
0,FAKE_answer-22c4dde6b86e4a42808af4a0a5dd8c91,False,True,True,True,True,True,True,True,True,False,False,FAKE_user-f36320d3da574c53a6d0451ade7fcfc2
1,FAKE_answer-8c7b25d7bfe2491393285b9ca2a7ad51,False,True,True,True,False,False,False,True,True,True,True,FAKE_user-6793723491db4a199bcda3cf1ed8e7f1
2,FAKE_answer-43ba10619c36428fac28116d3369a98d,True,False,True,False,False,True,True,False,False,True,False,FAKE_user-12bea0bf1fbb45478ce42d22e62b61ce
3,FAKE_answer-1f0e5d56fb6043e895fd6006859ff105,False,False,False,False,True,False,False,False,False,False,True,FAKE_user-41619e63dfc34788b425e1738a0ce035
4,FAKE_answer-9c8d781d9fe14d76a1250df75e61a3fb,True,False,False,False,False,True,False,False,False,True,False,FAKE_user-03f8b4ac79964d3a8a28c6490697aca5

In [31]:
df.drop(["_id", "user_id"], axis=1, inplace=True)

In [32]:
df = df.iloc[:100,:]

In [33]:
random.seed(21)
leave = [random.choice([True, False]) for _ in range(len(df))]

In [34]:
df["leave"] = leave

In [35]:
df.head()

,answer_1,answer_2,answer_3,answer_4,answer_5,answer_6,answer_7,answer_8,answer_9,answer_10,answer_11,leave
0,False,True,True,True,True,True,True,True,True,False,False,True
1,False,True,True,True,False,False,False,True,True,True,True,False
2,True,False,True,False,False,True,True,False,False,True,False,False
3,False,False,False,False,True,False,False,False,False,False,True,False
4,True,False,False,False,False,True,False,False,False,True,False,False

In [37]:
diff_values = df.groupby(["leave"]).count()

In [44]:
max_val, min_val = max(diff_values.iloc[0][0], diff_values.iloc[1][0]), min(diff_values.iloc[0][0], diff_values.iloc[1][0])

In [45]:
indexes_to_drop = list(df[df["leave"] == True].iloc[:max_val-min_val].index)

In [46]:
df.drop(indexes_to_drop, inplace=True)

In [47]:
df.groupby(["leave"]).count()

,answer_1,answer_2,answer_3,answer_4,answer_5,answer_6,answer_7,answer_8,answer_9,answer_10,answer_11
leave,,,,,,,,,,,
False,46,46,46,46,46,46,46,46,46,46,46
True,46,46,46,46,46,46,46,46,46,46,46

# Preparing data

In [48]:
# data is 1 or 0
df = df.astype(int)

In [49]:
df.head()

,answer_1,answer_2,answer_3,answer_4,answer_5,answer_6,answer_7,answer_8,answer_9,answer_10,answer_11,leave
1,0,1,1,1,0,0,0,1,1,1,1,0
2,1,0,1,0,0,1,1,0,0,1,0,0
3,0,0,0,0,1,0,0,0,0,0,1,0
4,1,0,0,0,0,1,0,0,0,1,0,0
6,0,1,1,0,1,0,1,0,0,1,0,0

In [50]:
X = df.iloc[:, :-1].values # all columns instead of "leave"
y = df.iloc[:, -1].values # "leave" column

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
random.seed(21)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=False, random_state=1)

In [53]:
print(len(X_train), len(y_train))

73 73

In [54]:
print(len(X_test), len(y_test))

19 19

## Training the Logistic Regression model on the Training set

In [55]:
from sklearn.linear_model import LogisticRegression

In [56]:
classifier = LogisticRegression()
results = classifier.fit(X_train, y_train)

In [57]:
results.score(X_train, y_train)

0.6301369863013698

In [58]:
y_pred = classifier.predict(X_test)
# print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

## Making the Confusion Matrix

In [59]:
from sklearn.metrics import confusion_matrix, accuracy_score,log_loss
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[5 4]
 [4 6]]

0.5789473684210527

In [60]:
log_loss(y_test, y_pred)

14.542811028895064